{% extends 'base.html' %}
{% block content %}

<h1> POST</h1>
<div class="row">
    {% for post in object_list %}
    <div class="card bg-light col-sm-4 margin-0.5rem padding-2rem" style="max-width: 18rem;">
        <div class="card-header">{{post.title}}</div>
        <div class="card-body">
          <h5 class="card-title">{{post.body}}</h5>
          <p class="card-text">{{post.author}}</p>
          <a href="{%url 'articles' post.pk %}" class="btn btn-primary">VIEW</a> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


